<div class="nav-container">
    <div class="nav-mainWrapper">
        <div class="nav-stickWrapper">
            <div class="nav-stick">
                
            </div>
        </div>
        <div class="nav-wrapper">
            <a class="nav-link" title="Home" href="/Home"><i class="fa-solid fa-house"></i></a>
            <a class="nav-link" title="Projects" href="/Projects"><i class="fa-solid fa-diagram-project"></i></i></a>
            <a class="nav-link" title="Achievements" href="/Achievements"><i class="fa-solid fa-trophy"></i></a>
            <a class="nav-link" title="Blogs" href="/"><i class="fa-brands fa-blogger-b"></i></a>
            <a class="nav-link" title="Contacts" href="/Contacts"><i class="fa-solid fa-user"></i></a>
            
        </div>
    </div>
</div>