<%- layout("./layouts/template.ejs"), Message="These are my achievements🫡", Themed = flase %>
<h1>Achievements</h1>
<!-- <img src="https://drive.google.com/uc?export=download?id=1LwEIPoIGL8rb3XUIMV4UVEIhPl9M5ReH" alt=""> -->
<div class="achievements-container">
    <% for (let i=1;i<Achievements.length;i++){%>
        <%let link = "https://drive.google.com/file/d/"+ Achievements[i][1]+"/preview"%>
        <div class="achievements-card">
            <div class="achievements-card-img">
                <iframe src=<%= "https://drive.google.com/file/d/"+ Achievements[i][1]+"/preview" %> frameborder="0" scrolling="no" seamless="" ></iframe>
            </div>
            <div class="achievements-card-links">
                <p class="achievements-card-name"><%=Achievements[i][0]%></p>
                <a href=<%= Achievements[i][2]%> target="_BLANK" class="link-icon"><i class="fa-solid fa-link"></i></a>
            </div>
        </div>
    <%}%>
</div>