<%- layout("./layouts/template.ejs"), Message = "Hi, Navbar on the left!", Themed = flase %>
<div class="home-wrapper">
    <div class="home-container">
        <div class="profile">
            <div class="profile_cover">
                <img src="./assets/YashCover.png" alt=""/>
            </div>
            <div class="profile_links">
                <!-- Linkedin -->
                <a href="https://www.linkedin.com/in/yashhvarma/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
                        <path fill="#0078d4" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5	V37z"></path><path d="M30,37V26.901c0-1.689-0.819-2.698-2.192-2.698c-0.815,0-1.414,0.459-1.779,1.364	c-0.017,0.064-0.041,0.325-0.031,1.114L26,37h-7V18h7v1.061C27.022,18.356,28.275,18,29.738,18c4.547,0,7.261,3.093,7.261,8.274	L37,37H30z M11,37V18h3.457C12.454,18,11,16.528,11,14.499C11,12.472,12.478,11,14.514,11c2.012,0,3.445,1.431,3.486,3.479	C18,16.523,16.521,18,14.485,18H18v19H11z" opacity=".05"></path><path d="M30.5,36.5v-9.599c0-1.973-1.031-3.198-2.692-3.198c-1.295,0-1.935,0.912-2.243,1.677	c-0.082,0.199-0.071,0.989-0.067,1.326L25.5,36.5h-6v-18h6v1.638c0.795-0.823,2.075-1.638,4.238-1.638	c4.233,0,6.761,2.906,6.761,7.774L36.5,36.5H30.5z M11.5,36.5v-18h6v18H11.5z M14.457,17.5c-1.713,0-2.957-1.262-2.957-3.001	c0-1.738,1.268-2.999,3.014-2.999c1.724,0,2.951,1.229,2.986,2.989c0,1.749-1.268,3.011-3.015,3.011H14.457z" opacity=".07"></path><path fill="#fff" d="M12,19h5v17h-5V19z M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12	c1.521,0,2.458,1.08,2.486,2.499C17,15.887,16.035,17,14.485,17z M36,36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698	c-1.501,0-2.313,1.012-2.707,1.99C24.957,25.543,25,26.511,25,27v9h-5V19h5v2.616C25.721,20.5,26.85,19,29.738,19	c3.578,0,6.261,2.25,6.261,7.274L36,36L36,36z"></path>
                    </svg>
                </a>
                <!-- GitHub -->
                <a href="https://github.com/yashgv" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 32 32">
                        <path fill-rule="evenodd" d="M 16 4 C 9.371094 4 4 9.371094 4 16 C 4 21.300781 7.4375 25.800781 12.207031 27.386719 C 12.808594 27.496094 13.027344 27.128906 13.027344 26.808594 C 13.027344 26.523438 13.015625 25.769531 13.011719 24.769531 C 9.671875 25.492188 8.96875 23.160156 8.96875 23.160156 C 8.421875 21.773438 7.636719 21.402344 7.636719 21.402344 C 6.546875 20.660156 7.71875 20.675781 7.71875 20.675781 C 8.921875 20.761719 9.554688 21.910156 9.554688 21.910156 C 10.625 23.746094 12.363281 23.214844 13.046875 22.910156 C 13.15625 22.132813 13.46875 21.605469 13.808594 21.304688 C 11.144531 21.003906 8.34375 19.972656 8.34375 15.375 C 8.34375 14.0625 8.8125 12.992188 9.578125 12.152344 C 9.457031 11.851563 9.042969 10.628906 9.695313 8.976563 C 9.695313 8.976563 10.703125 8.65625 12.996094 10.207031 C 13.953125 9.941406 14.980469 9.808594 16 9.804688 C 17.019531 9.808594 18.046875 9.941406 19.003906 10.207031 C 21.296875 8.65625 22.300781 8.976563 22.300781 8.976563 C 22.957031 10.628906 22.546875 11.851563 22.421875 12.152344 C 23.191406 12.992188 23.652344 14.0625 23.652344 15.375 C 23.652344 19.984375 20.847656 20.996094 18.175781 21.296875 C 18.605469 21.664063 18.988281 22.398438 18.988281 23.515625 C 18.988281 25.121094 18.976563 26.414063 18.976563 26.808594 C 18.976563 27.128906 19.191406 27.503906 19.800781 27.386719 C 24.566406 25.796875 28 21.300781 28 16 C 28 9.371094 22.628906 4 16 4 Z"></path>
                    </svg>
                </a>
                <!-- Discord -->
                <a href="https://discord.gg/m7gd3YQuxN" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
                        <radialGradient id="Fr~bqA9iZI6v1mPZVXxEWa_LOWwEDik1xs8_gr1" cx="24" cy="560.111" r="32.253" gradientTransform="matrix(1 0 0 -1 0 570.11)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#8c9eff"></stop><stop offset=".368" stop-color="#889af8"></stop><stop offset=".889" stop-color="#7e8fe6"></stop><stop offset="1" stop-color="#7b8ce1"></stop></radialGradient><path fill="url(#Fr~bqA9iZI6v1mPZVXxEWa_LOWwEDik1xs8_gr1)" d="M40.107,12.15c-0.065-0.102-0.139-0.182-0.236-0.255c-0.355-0.267-5.744-3.889-9.865-3.889	c-0.258,0-0.825,1.1-1.016,1.987c-1.994,0.002-7.996-0.003-9.993,0.006c-0.236-0.838-0.844-1.99-1.008-1.99	c-4.122,0-9.487,3.606-9.861,3.887c-0.097,0.073-0.17,0.153-0.236,0.255c-0.708,1.107-5.049,8.388-5.892,21.632	c-0.009,0.142,0.04,0.289,0.135,0.395C6.728,39.321,13.318,39.929,14.724,40c0.167,0.008,0.335-0.059,0.427-0.199l1.099-1.665	l-3.246-1.54v-1.609c6.329,2.817,15.356,3.104,21.993,0.017l0.027,1.588l-3.205,1.65l1.028,1.559c0.092,0.14,0.26,0.208,0.427,0.199	c1.407-0.072,7.996-0.679,12.588-5.823c0.095-0.106,0.144-0.253,0.135-0.395C45.156,20.538,40.815,13.257,40.107,12.15z"></path><ellipse cx="30.5" cy="26" opacity=".05" rx="4.5" ry="5"></ellipse><ellipse cx="30.5" cy="26" opacity=".05" rx="4" ry="4.5"></ellipse><ellipse cx="30.5" cy="26" fill="#fff" rx="3.5" ry="4"></ellipse><ellipse cx="17.5" cy="26" opacity=".05" rx="4.5" ry="5"></ellipse><ellipse cx="17.5" cy="26" opacity=".05" rx="4" ry="4.5"></ellipse><ellipse cx="17.5" cy="26" fill="#fff" rx="3.5" ry="4"></ellipse>
                    </svg>
                </a>
                <!-- Instagram -->
                <a href="https://www.instagram.com/yashhvarma_/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
                        <radialGradient id="yOrnnhliCrdS2gy~4tD8ma_Xy10Jcu1L2Su_gr1" cx="19.38" cy="42.035" r="44.899" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fd5"></stop><stop offset=".328" stop-color="#ff543f"></stop><stop offset=".348" stop-color="#fc5245"></stop><stop offset=".504" stop-color="#e64771"></stop><stop offset=".643" stop-color="#d53e91"></stop><stop offset=".761" stop-color="#cc39a4"></stop><stop offset=".841" stop-color="#c837ab"></stop></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8ma_Xy10Jcu1L2Su_gr1)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"></path><radialGradient id="yOrnnhliCrdS2gy~4tD8mb_Xy10Jcu1L2Su_gr2" cx="11.786" cy="5.54" r="29.813" gradientTransform="matrix(1 0 0 .6663 0 1.849)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#4168c9"></stop><stop offset=".999" stop-color="#4168c9" stop-opacity="0"></stop></radialGradient><path fill="url(#yOrnnhliCrdS2gy~4tD8mb_Xy10Jcu1L2Su_gr2)" d="M34.017,41.99l-20,0.019c-4.4,0.004-8.003-3.592-8.008-7.992l-0.019-20	c-0.004-4.4,3.592-8.003,7.992-8.008l20-0.019c4.4-0.004,8.003,3.592,8.008,7.992l0.019,20	C42.014,38.383,38.417,41.986,34.017,41.99z"></path><path fill="#fff" d="M24,31c-3.859,0-7-3.14-7-7s3.141-7,7-7s7,3.14,7,7S27.859,31,24,31z M24,19c-2.757,0-5,2.243-5,5	s2.243,5,5,5s5-2.243,5-5S26.757,19,24,19z"></path><circle cx="31.5" cy="16.5" r="1.5" fill="#fff"></circle><path fill="#fff" d="M30,37H18c-3.859,0-7-3.14-7-7V18c0-3.86,3.141-7,7-7h12c3.859,0,7,3.14,7,7v12	C37,33.86,33.859,37,30,37z M18,13c-2.757,0-5,2.243-5,5v12c0,2.757,2.243,5,5,5h12c2.757,0,5-2.243,5-5V18c0-2.757-2.243-5-5-5H18z"></path>
                    </svg>
                </a>
                <!-- Twitter -->
                <a href="https://twitter.com/_YashVarma_" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 32 32">
                        <path d="M 4.0175781 4 L 13.091797 17.609375 L 4.3359375 28 L 6.9511719 28 L14.246094 19.34375 L 20.017578 28 L 20.552734 28 L 28.015625 28 L 18.712891 14.042969 L 27.175781 4 L 24.560547 4 L 17.558594 12.310547 L 12.017578 4 L 4.0175781 4 z M 7.7558594 6 L 10.947266 6 L 24.279297 26 L 21.087891 26 L 7.7558594 6 z"></path>
                    </svg>
                </a>
                <!-- Mail -->
                <a href="mailto:yashvarma2702@gmail.com" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48">
                        <path fill="#4caf50" d="M45,16.2l-5,2.75l-5,4.75L35,40h7c1.657,0,3-1.343,3-3V16.2z"></path><path fill="#1e88e5" d="M3,16.2l3.614,1.71L13,23.7V40H6c-1.657,0-3-1.343-3-3V16.2z"></path><polygon fill="#e53935" points="35,11.2 24,19.45 13,11.2 12,17 13,23.7 24,31.95 35,23.7 36,17"></polygon><path fill="#c62828" d="M3,12.298V16.2l10,7.5V11.2L9.876,8.859C9.132,8.301,8.228,8,7.298,8h0C4.924,8,3,9.924,3,12.298z"></path><path fill="#fbc02d" d="M45,12.298V16.2l-10,7.5V11.2l3.124-2.341C38.868,8.301,39.772,8,40.702,8h0 C43.076,8,45,9.924,45,12.298z"></path>
                    </svg>
                </a>      
            </div>
            <div class="profile_img">
                <img src="./assets/Myself.jpg" alt=""/>
            </div>
            <div class="profile_greetings">

                <h1>Hello , I'm <span id="Writer"></span></h1>

                <p style="font-size: large;">A relentless student and an insatiable learner, always striving for knowledge and growth.</p>
            </div>
            <div class="profile_contents">
                <div class="profile_skills">
                    <h2>Technical Skills</h2>
                    <div class="tech_skills">
                        <img src="https://skillicons.dev/icons?i=python" alt="" title="Python" />
                        <img src="https://skillicons.dev/icons?i=django" alt="" title="Django" />
                        <img src="https://skillicons.dev/icons?i=flask" alt="" title="Flask" />
                        <img src="https://skillicons.dev/icons?i=java" alt="" title="Java" />
                        <img src="https://skillicons.dev/icons?i=c" alt="" title="C" />
                        <img src="https://skillicons.dev/icons?i=cpp" alt="" title="C++" />
                        <img src="https://skillicons.dev/icons?i=javascript" alt="" title="JavaScript" />
                        <img src="https://skillicons.dev/icons?i=nodejs" alt="" title="Node.js" />
                        <img src="https://skillicons.dev/icons?i=html" alt="" title="HTML" />
                        <img src="https://skillicons.dev/icons?i=css" alt="" title="CSS" />
                        <img src="https://skillicons.dev/icons?i=react" alt="" title="React" />
                        <img src="https://skillicons.dev/icons?i=nextjs" alt="" title="Next.js" />
                        <img src="https://skillicons.dev/icons?i=postgresql" alt="" title="PostgreSQL" />
                        <img src="https://skillicons.dev/icons?i=mysql" alt="" title="MySQL" />
                        <img src="https://skillicons.dev/icons?i=mongodb" alt="" title="MongoDB" />
                        <img src="https://skillicons.dev/icons?i=fastapi" alt="" title="FastAPI" />
                        <img src="https://skillicons.dev/icons?i=gcp" alt="" title="Google Cloud Platform" />
                        <img src="https://skillicons.dev/icons?i=aws" alt="" title="AWS" />
                        <img src="https://skillicons.dev/icons?i=azure" alt="" title="Azure" />
                        <img src="https://skillicons.dev/icons?i=cloudflare" alt="" title="Cloudflare" />
                        <img src="https://skillicons.dev/icons?i=ubuntu" alt="" title="Ubuntu" />
                        <img src="https://skillicons.dev/icons?i=linux" alt="" title="Linux" />
                        <img src="https://skillicons.dev/icons?i=bash" alt="" title="Bash" />
                        <img src="https://skillicons.dev/icons?i=figma" alt="" title="Figma" />
                        <img src="https://skillicons.dev/icons?i=wordpress" alt="" title="WordPress" />
                        <img src="https://skillicons.dev/icons?i=git" alt="" title="Git" />
                        <img src="https://skillicons.dev/icons?i=github" alt="" title="GitHub"/>
                    </div>
                </div>
                <div class="profile_experience">
                    <h2>Experience</h2>
                    
<div class="experience-section">
    <div class="experience-item">
        <div class="experience-header">
            <img src="./assets/easeworkai_logo.jpeg" alt="Easework AI Logo" class="experience-logo">
            <div>
                <h3 class="experience-title">Intern AI Engineer</h3>
                <p class="experience-company">Easework AI 路 Full-time 路 Paid</p>
                <p class="experience-duration">May 2024 - Jul 2024 路 3 mos</p>
                <p class="experience-skills">Python, GraphAPI, LLMs, CrewAI, FastAPI, MySQL, MongoDB</p>
            </div>
        </div>
    </div>

    <div class="experience-item">
        <div class="experience-header">
            <img src="./assets/help_for_coders_logo.jpeg" alt="Help For Coders Logo" class="experience-logo">
            <div>
                <h3 class="experience-title">Programmer</h3>
                <p class="experience-company">Help For Coders 路 Internship</p>
                <p class="experience-duration">Jan 2023 - Apr 2023 路 4 mos</p>
                <p class="experience-details">Online 路 Hybrid</p>
                <p class="experience-skills">Python, Java</p>
            </div>
        </div>
    </div>

    <div class="experience-item">
        <div class="experience-header">
            <img src="./assets/Headlogo.png" alt="Self-employed Logo" class="experience-logo">
            <div>
                <h3 class="experience-title">Frontend Web Developer</h3>
                <p class="experience-company">Self-employed</p>
                <p class="experience-duration">Mar 2023 - Mar 2023 路 1 mo</p>
                <p class="experience-details">Portfolio Website: Purely build with HTML, CSS, JavaScript with help of resources available on internet.</p>
                <p class="experience-skills">HTML, CSS, JavaScript, Express, Git, Github</p>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
        <div class="home_music">
            <div class="home-left">
                <img src="./assets/source-unscreen.gif" style="width:10rem; height: 10rem" alt=""/>
            </div>
            <div class="home_spotify">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4lnAjjbvjdWUEialwLIzDX?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowFullScreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>  
        </div>
    </div>
</div>
                        
<!-- Load library from the CDN -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!-- Setup and start animation! -->
    <script>
        var typed = new Typed('#Writer', {
        strings: ['a Programmer', 'an AI Engineer', '', 'a Frontend Developer'],
        typeSpeed: 150,
        backSpeed: 100,
        loop: true
        });
    </script>
    
